<style>

  .img-responsive{
    margin-bottom : 20px;
  }
</style>

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2">
        <h2>Artist List</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Artist/sugarbowl.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>슈가볼</h3>
                  <p>발라드, 솔로</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-expand"><a href="/images/detail/sugarbowl.png" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Artist/bolbbal.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>볼빨간 사춘기</h3>
                  <p>발라드, 듀오</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-expand"><a href="/images/detail/bolbbal.png" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Artist/blackskirt.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>검정치마</h3>
                  <p>발라드, 솔로</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-expand"><a href="/images/detail/blackskirt.png" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Artist/byebyebadman.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>바이바이배드맨</h3>
                  <p>록, 5인조 밴드</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-expand"><a href="/images/detail/byebyebadman.png" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="700ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Artist/delispice.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>델리스파이스</h3>
                  <p>모던 록, 3인조 밴드</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-expand"><a href="/images/detail/delispice.png" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="800ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Artist/j_rabbit.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>제이래빗</h3>
                  <p>발라드, 듀오</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-expand"><a href="/images/detail/j_rabbit.png" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="900ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Artist/kimroot.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>신현희와 김루트</h3>
                  <p>가요, 혼성듀오</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-expand"><a href="/images/detail/kimroot.png" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Artist/peterpan.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>피터팬컴플렉스</h3>
                  <p>신스팝, 4인조 밴드</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-expand"><a href="/images/detail/peterpan.png" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="portfolio-single-wrap">
    <div id="portfolio-single">
    </div>
  </div><!-- /#portfolio-single-wrap -->
</section><!--/#portfolio-->


<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2">
        <h2>Concert List</h2>
      </div>
    </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Concert/concert_acoustic.png" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>어쿠스틱 소규모 음악회</h3>
                  <p>2013.05.15~16</p>
                </div>
                <div class="folio-overview">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Concert/concert_indifesta.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>청춘 인디뮤직 페스타</h3>
                  <p>2012.05.02</p>
                </div>
                <div class="folio-overview">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Concert/concert_oksang.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>옥상달빛 & 니들앤젤</h3>
                  <p>2012.1.25</p>
                </div>
                <div class="folio-overview">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="700ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Concert/concert_rain.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>바다속에 내리는 비</h3>
                  <p>2015.10.14~18</p>
                </div>
                <div class="folio-overview">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="800ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Concert/concert_show.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Party Roch Show</h3>
                  <p>2016.10.15</p>
                </div>
                <div class="folio-overview">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="900ms">
          <div class="folio-image">
            <img class="img-responsive" src="/images/Concert/concert_unni.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>언니네 이발관 & 정준일</h3>
                  <p>2016.03.07</p>
                </div>
                <div class="folio-overview">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="portfolio-single-wrap">
    <div id="portfolio-single">
    </div>
  </div><!-- /#portfolio-single-wrap -->
  </div>
</section><!--/#portfolio-->

<footer id="footer">
  <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
    <div class="container text-center">
      <div class="footer-logo">
        <a href="index.html"><img class="img-responsive" src="/images/logo.png" alt=""></a>
      </div>
      <div class="social-icons">
        <ul>
          <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>&copy; 2014 Oxygen Theme.</p>
        </div>
        <div class="col-sm-6">
          <p class="pull-right">Designed by <a href="http://www.themeum.com/">Themeum</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

