<style>
  .profile-bio
  {
    text-align: left;
  }
    .profile-card
    {
      text-align:center;
    }
</style>
<br><br><br>
<div class="lion_artist_show">
    <aside class="profile-card">
        <header>
          <a><img src="/images/Artist/sugarbowl.jpg"></a>
       <br><br><br>   <h1>슈가볼</h1>
        </header>
      <div class="profile-bio">
        <br><br>
      <div>활동 시작일 : 2006년</div>
      <div>앨범 : 사심, Yours, 숨, 세번째</div>
      <div>멤버 : 고창인, 소이빈페이스트</div>
      <div>음반회사 : YMC엔터테인먼트</div>
      </div>
        
      </aside>
      
</div>