<style>
  .profile-bio
  {
    text-align: left;
  }
  .profile-card
  {
    text-align:center;
  }
</style>
<br><br><br>
<div class="lion_artist_show">
  <aside class="profile-card">
    <header>
      <a><img src="/images/Artist/kimroot.jpg"></a>
      <br><br><br>   <h1>신현희와 김루트</h1>
    </header>
    <div class="profile-bio">
      <br><br>
      <div>활동 시작일 : 2014년</div>
      <div>앨범 : 신루트의 이상한 나라, 신현희와김루트</div>
      <div>멤버 : 신현희, 김루트</div>
      <div>음반회사 : 서울음반</div>
    </div>

  </aside>

</div>