<style>
  .profile-bio
  {
    text-align: left;
  }
  .profile-card
  {
    text-align:center;
  }
</style>
<br><br><br>
<div class="lion_artist_show">
  <aside class="profile-card">
    <header>
      <a><img src="/images/Artist/delispice.jpg"></a>
      <br><br><br>   <h1>델리스파이스</h1>
    </header>
    <div class="profile-bio">
      <br><br>
      <div>활동 시작일 : 1995년</div>
      <div>앨범 : 차우차우,고백</div>
      <div>멤버 : 김민규,윤준호,최재혁,오인록,양용준,이승기</div>
      <div>음반회사 : 미러볼뮤직</div>
    </div>

  </aside>

</div>