<style>
  .profile-bio
  {
    text-align: left;
  }
  .profile-card
  {
    text-align:center;
  }
</style>
<br><br><br>
<div class="lion_artist_show">
  <aside class="profile-card">
    <header>
      <a><img src="/images/Artist/peterpan.jpg"></a>
      <br><br><br>   <h1>피터팬컴플렉스</h1>
    </header>
    <div class="profile-bio">
      <br><br>
      <div>활동 시작일 : 2000년</div>
      <div>앨범 : 너는 나에게, 새벽에 든 생각</div>
      <div>멤버 : 김경인, 김인근, 전지한</div>
      <div>음반회사 : CJ E&M</div>
    </div>

  </aside>

</div>