<style>
  .profile-bio
  {
    text-align: left;
  }
  .profile-card
  {
    text-align:center;
  }
</style>
<br><br><br>
<div class="lion_artist_show">
  <aside class="profile-card">
    <header>
      <a><img src="/images/Artist/blackskirt.jpg"></a>
      <br><br><br>   <h1>검정치마</h1>
    </header>
    <div class="profile-bio">
      <br><br>
      <div>활동 시작일 : 2004년</div>
      <div>앨범 : Don't you worry Baby, 201</div>
      <div>멤버 : 조휴일</div>
      <div>음반회사 : 하이그라운드</div>
    </div>

  </aside>

</div>