<style>
  .profile-bio
  {
    text-align: left;
  }
  .profile-card
  {
    text-align:center;
  }
</style>
<br><br><br>
<div class="lion_artist_show">
  <aside class="profile-card">
    <header>
      <a><img src="/images/Artist/byebyebadman.jpg"></a>
      <br><br><br>   <h1>바이바이배드맨</h1>
    </header>
    <div class="profile-bio">
      <br><br>
      <div>활동 시작일 : 2009년</div>
      <div>앨범 : Light beside you, AUTHENTIC</div>
      <div>멤버 : 곽민혁,구름,정한솔,이루리</div>
      <div>음반회사 : 트리퍼사운드</div>
    </div>

  </aside>

</div>