<style>
  .profile-bio
  {
    text-align: left;
  }
  .profile-card
  {
    text-align:center;
  }
</style>
<br><br><br>
<div class="lion_artist_show">
  <aside class="profile-card">
    <header>
      <a><img src="/images/Artist/bolbbal.jpg"></a>
      <br><br><br>   <h1>볼빨간 사춘기</h1>
    </header>
    <div class="profile-bio">
      <br><br>
      <div>활동 시작일 : 2011년</div>
      <div>앨범 : RED PLANET, RED ICKLE</div>
      <div>멤버 : 안지영, 우지윤</div>
      <div>음반회사 : 소파르뮤직</div>
    </div>

  </aside>

</div>