<style>
  .profile-bio
  {
    text-align: left;
  }
  .profile-card
  {
    text-align:center;
  }
</style>
<br><br><br>
<div class="lion_artist_show">
  <aside class="profile-card">
    <header>
      <a><img src="/images/Artist/j_rabbit.jpg"></a>
      <br><br><br>   <h1>제이레빗</h1>
    </header>
    <div class="profile-bio">
      <br><br>
      <div>활동 시작일 : 2010년</div>
      <div>앨범 : 요즘 너 말야, Happy things</div>
      <div>멤버 : 정혜선, 정다운</div>
      <div>음반회사 : 미러볼뮤직</div>
    </div>

  </aside>

</div>