<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Oxygen - One Page HTML Template | Themeum</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/animate.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/lightbox.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link id="css-preset" href="/css/presets/preset1.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/images/favicon.ico">

  <%= csrf_meta_tags %>

</head>
<body>
<!--.preloader-->
<div class="main-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <h1><img class="img-responsive" src="/images/logo.png" alt="logo"></h1>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="scroll active"><a href="#home">Home</a></li>
        <li class="scroll"><a href="#portfolio">Portfolio</a></li>
        <li class="scroll"><a href="#blog">Blog</a></li>
        <li class="scroll"><a href="#contact">Contact</a></li>
        <li class="scroll"><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div><!--/#main-nav-->
<!--/.preloader-->

<%= yield %>

<div class="floating_button">
<a href="#" class="float" id="menu-share">
<i class="fa fa-share my-float"></i>
</a>
  <ul>
    <% if user_signed_in? %>
        <li><a href="mypage/index">
          <i class="fa fa-facebook my-float"></i>
        </a>
    <% end %>
    <% if user_signed_in? %>
    <% else %>
        <li><a href="/users/sign_in">
          <i class="fa fa-facebook my-float"></i>
        </a>
    <% end %>
 </li>
  <li><a href="#">
  <i class="fa fa-google-plus my-float"></i>
  </a></li>
  <li><a href="#">
  <i class="fa fa-twitter my-float"></i>
  </a></li>
  </ul>
</div>

<style>
  /**{padding:0;margin:0;}*/

body{
	font-family:Verdana, Geneva, sans-serif;
	background-color:#CCC;
	font-size:12px;
}


</style>
</body>
</html>
